includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
	# Level 9 is the highest level
	level: max

	# Allow generics
	checkGenericClassInNonGenericObjectType: false

	paths:
		- blocks/
		- entries/
		- src/
		- wp-curate.php
