<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
>
  <testsuites>
    <testsuite name="Feature">
      <directory suffix="Test.php">tests/feature</directory>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
