/**
 * Styles for the wp-curate/is-true block that get applied on both on the front of your site
 * and in the editor.
 */

.wp-block-wp-curate-is-true {
  background-color: #21759b;
  color: #fff;
  padding: 2px;
}
