/**
 * Editor styles for the wp-curate/query block.
 */

.wp-block-wp-curate-query {
  border: 1px dashed #e0e0e0;
  min-height: 50px;
  padding: 2px;
}

.autocomplete__component .components-base-control__label {
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.manual-posts__container {
  gap: 1rem;
}

.manual-posts__picker {
  border: 1px dashed #e0e0e0;
  flex: 1;
  padding: 8px;

  > .components-button {
    justify-content: center;
    width: 100%;
  }

  .manual-posts__container--selected & {
    border: 0 none;
    padding: 0 0 16px;

    > * {
      width: 100%;
    }
  }
}

.manual-posts__counter {
  font-weight: 500;

  // Give counters a min-width if there are double digits.
  .manual-posts:has(.manual-posts__container:nth-last-child(10)) & {
    min-width: 18px;
  }
}

.is-selected,
.has-child-selected {
  ul.block-editor-block-list__block {
    li.wp-block-post {
      border: 1px solid #ccc;
      border-radius: 0 3px 3px;
    }
  }
}

ul.block-editor-block-list__block {
  li.wp-block-post {
    .wp-curate-post-block::after {
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px 0 0 3px;
      border-right: 1px solid #fff;
      content: '.';
      display: none;
      font-size: 70%;
      left: -1rem;
      padding: 5px auto;
      position: absolute;
      text-align: center;
      top: -1px;
      width: 1rem;

      .is-selected &,
      .has-child-selected & {
        display: block;
      }
    }

    .wp-block-post-excerpt__more-text {
      display: none;
    }
  }

  @for $i from 1 through 10 {
    li.wp-block-post:nth-child(#{$i} of .wp-block-post:not([style*='display: none;'])) {
      .wp-curate-post-block::after {
        content: '#{$i}';
      }
    }
  }
}