.wp-curate-post-block {
  padding: 2px;

  &--selected {
    outline: 1px dashed #ccc;
    outline-offset: 0.5rem;
  }

  &--backfill .block-editor-inner-blocks {
    opacity: 0.5;
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
}
