/**
 * Editor styles for the wp-curate/subquery block.
 */

.wp-block-wp-curate-subquery {
  border: 1px dotted #ccc;
  opacity: 1;

  p.zero-posts {
    color: #999;
    font-size: 0.8em;
    font-style: italic;
    margin: 1em 0;
  }
}
