name: Create a -built branch

on:
  push:
    branches:
      - main
      - develop

jobs:
  built-branch:
    uses: alleyinteractive/.github/.github/workflows/built-branch.yml@main
    with:
      node: 18
      php: 8.1
