name: Code Quality

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  code-quality:
    if: github.event.pull_request.draft == false
    uses: alleyinteractive/.github/.github/workflows/php-composer-command.yml@main
    with:
      php: 8.1
      command: |
        phpcs
        phpstan
